<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <error-page>
        <error-code>707</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <servlet>
        <servlet-name>submitPerson</servlet-name>
        <servlet-class>com.example.personmanagementsystem.controller.SubmitPerson</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>findAllPerson</servlet-name>
        <servlet-class>com.example.personmanagementsystem.controller.FindAllPerson</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>updatePerson</servlet-name>
        <servlet-class>com.example.personmanagementsystem.controller.UpdatePerson</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>deletePerson</servlet-name>
        <servlet-class>com.example.personmanagementsystem.controller.DeletePerson</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>submitPerson</servlet-name>
        <url-pattern>/person/save.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>findAllPerson</servlet-name>
        <url-pattern>/person/findAll.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>updatePerson</servlet-name>
        <url-pattern>/person/update.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>deletePerson</servlet-name>
        <url-pattern>/person/delete.do</url-pattern>
    </servlet-mapping>

</web-app>